@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}

html {
  scroll-behavior: smooth;
}

.Navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 15vw;
}

.Navbar-brand {
  cursor: pointer;
}
.Navbar-brand > img {
  width: 50px;
  height: 50px;
}

.Navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar-links > a {
  display: grid;
  place-items: center;
  margin: 5px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: calc(7px + 1vw - 2px);
  color: #f2f2f2;
}
.Navbar-links > a:hover {
  color: #00ffff;
}

.active {
  border-bottom: 3px solid #00ffff;
  border-radius: 10px;
  color: #00ffff !important;
}
.active:hover {
  color: #00ffff !important;
}

.Navbar-cv > button {
  background-color: transparent;
  border: 2px solid #00ffff;
  color: #f2f2f2;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: calc(7px + 1vw - 2px);
}
.Navbar-cv > button:hover {
  border-color: #ffbb1c;
}

.Home,
.Projects,
.Contact {
  position: relative;
  min-height: 100vh;
}

.Home-img {
  background-image: url("../res/pao.jpg");
  background-position: center -325px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  min-height: 100vh;
}
@media (max-width: 768px) {
  .Home-img {
    background-position: center center;
  }
}

.Home-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: calc(10px + 5vw - 2px);
  font-weight: 700;
  color: #f2f2f2;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.Home-name {
  color: #ffbb1c;
}

.Home-desc {
  text-align: center;
  font-size: calc(12px + 1vw - 2px);
  font-weight: 400;
  padding: 1.5rem 16vw;
  opacity: 0.9;
  letter-spacing: 1px;
  line-height: 30px;
}

.Home-connect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  padding: 0.5rem 15vw;
}

.Home-cv {
  display: grid;
  place-items: center;
}
.Home-cv > button {
  background-color: transparent;
  border: 2px solid #ffbb1c;
  color: #f2f2f2;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: calc(7px + 1vw - 2px);
}
.Home-cv > button:hover {
  border-color: #00ffff;
}

.Home-profiles {
  font-size: 30px;
}
.Home-profiles > a {
  color: #00ffff;
  padding: 1rem 0.25rem;
  cursor: pointer;
}
.Home-profiles > a:hover {
  color: #ffbb1c;
}

.Down-btn {
  color: #ffbb1c;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  font-size: calc(10px + 2vw - 1px);
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 50;
}
.Down-btn > a:focus {
  color: #ffbb1c;
}

.About {
  background-color: #181e20;
  padding: 5rem 15vw;
}

.Header {
  color: #f2f2f2;
  font-weight: 400;
}

.Gold-underline {
  border-bottom: 4px solid #ffbb1c;
}

.Personality {
  font-size: calc(8px + 2vw - 1px);
}

.Personality > span:nth-child(1),
.Personality > span:nth-child(3) {
  color: #f2f2f2;
  font-weight: 700;
}

.Personality > span:nth-child(2) {
  color: #ffbb1c;
  font-weight: 700;
}

.About-me {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: self-start;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
@media (max-width: 1200px) {
  .About-me {
    flex-wrap: wrap;
  }
}

.About-desc {
  margin-top: 25px;
  color: #f2f2f2;
  font-size: calc(5px + 1vw - 1px);
  text-align: justify;
  letter-spacing: 1px;
  line-height: 30px;
}

.My-image {
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(120deg, #181e20, #ffbb1c) border-box;
  border: 5px solid transparent;
  border-radius: 20px;
  display: grid;
  place-items: center;
}
.My-image > img {
  height: 400px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  filter: grayscale(50);
}

.Skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 100px;
}

.FOE,
.Educ-exp {
  margin: 150px auto 75px auto;
  color: #f2f2f2;
  font-weight: 700;
  font-size: calc(6px + 2vw - 1px);
  display: grid;
  place-items: center;
}
.FOE > p,
.Educ-exp > p {
  width: -moz-max-content;
  width: max-content;
  border-bottom: 5px solid #00ffff;
}

.Languages,
.Frameworks {
  display: grid;
  place-items: center;
  margin: auto;
}

.Rotate {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 5px solid #ffbb1c;
}

.AOE {
  position: absolute;
  color: #f2f2f2;
  font-weight: 700;
  font-size: calc(8px + 1vw - 1px);
  text-align: center;
}

.Rotate-img {
  position: absolute;
  width: 80px;
  height: 80px;
}
.Rotate-img > img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#lang-img1 {
  top: -40px;
  left: 110px;
}

#lang-img2 {
  top: 50px;
  left: 250px;
}

#lang-img3 {
  top: 180px;
  left: 240px;
}

#lang-img4 {
  bottom: -40px;
  right: 110px;
}

#lang-img5 {
  top: 180px;
  right: 240px;
}

#lang-img6 {
  top: 50px;
  right: 250px;
}

#fw-img1 {
  top: -40px;
  left: 110px;
}

#fw-img2 {
  top: 120px;
  right: -40px;
}

#fw-img3 {
  bottom: -40px;
  right: 110px;
}

#fw-img4 {
  top: 120px;
  left: -40px;
}

.Educ-exp {
  margin-bottom: 50px !important;
}

.Educ-exp-options {
  display: grid;
  place-items: center;
  color: #f2f2f2;
}
.Educ-exp-options > .Eeo-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-radius: 15px;
  border: 3px solid #ffbb1c;
}
.Educ-exp-options > .Eeo-inner > div {
  cursor: pointer;
  padding: 5px 30px;
}
.Educ-exp-options > .Eeo-inner > .selected {
  border-radius: 10px;
  background-color: #ffbb1c;
}/*# sourceMappingURL=style.css.map */