@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}

html {
  scroll-behavior: smooth;
}

.Navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10vw;
}

.Navbar-brand {
  cursor: pointer;
}
.Navbar-brand > img {
  width: 50px;
  height: 50px;
}

.Navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar-links > a {
  display: grid;
  place-items: center;
  margin: 5px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: calc(7px + 1vw - 2px);
  color: #f2f2f2;
}
.Navbar-links > a:hover {
  color: #00ffff;
}

.active {
  border-bottom: 3px solid #00ffff;
  border-radius: 10px;
  color: #00ffff !important;
}
.active:hover {
  color: #00ffff !important;
}

.Navbar-cv > button {
  background-color: transparent;
  border: 2px solid #00ffff;
  color: #f2f2f2;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: calc(7px + 1vw - 2px);
}
.Navbar-cv > button:hover {
  border-color: #ffbb1c;
}

.Hero,
.About,
.Projects,
.Contact {
  min-height: 100vh;
}

.Hero-img {
  background-image: url("../res/pao.jpg");
  background-position: center -325px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  min-height: 100vh;
}
@media (max-width: 768px) {
  .Hero-img {
    background-position: center center;
  }
}

.Hero-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: calc(10px + 5vw - 2px);
  font-weight: 700;
  color: #f2f2f2;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.Hero-name {
  color: #ffbb1c;
}

.Hero-desc {
  text-align: center;
  font-size: calc(12px + 1vw - 2px);
  font-weight: 400;
  padding: 1.5rem 15vw;
  opacity: 0.9;
  letter-spacing: 1px;
  line-height: 30px;
}

.Hero-connect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  padding: 0.5rem 15vw;
}

.Hero-cv {
  display: grid;
  place-items: center;
}
.Hero-cv > button {
  background-color: transparent;
  border: 2px solid #ffbb1c;
  color: #f2f2f2;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: calc(7px + 1vw - 2px);
}
.Hero-cv > button:hover {
  border-color: #00ffff;
}

.Hero-profiles {
  font-size: 30px;
}
.Hero-profiles > a {
  color: #00ffff;
  padding: 1rem 0.25rem;
  cursor: pointer;
}
.Hero-profiles > a:hover {
  color: #ffbb1c;
}

.Down-btn {
  color: #ffbb1c;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  font-size: calc(10px + 2vw - 1px);
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}

.About {
  background-color: #181e20;
}/*# sourceMappingURL=style.css.map */